@model zapread.com.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Log in</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a>Account</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="ibox-content">
                <section id="loginForm">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Reset</button>
                    }
                </section>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/account/login/css")  @*same css and scripts*@
}

@section Scripts {
    @Scripts.Render("~/bundles/account/login")
}
