@model zapread.com.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Send Code</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a>Account</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="ibox-content">
                <h4>Send verification code</h4>
                <section id="codeForm">
                    @using (Html.BeginForm("SendCode", "Account",
                        new { ReturnUrl = Model.ReturnUrl },
                        FormMethod.Post,
                        new { @class = "m-t", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("rememberMe", @Model.RememberMe)

                        <hr />
                        <div class="form-group">
                            <p>
                                Select Two-Factor Authentication Provider:
                            </p>
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Continue</button>
                    }
                </section>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/account/login/css")  @*same css and scripts*@
}

@section Scripts {
    @Scripts.Render("~/bundles/account/login")
}