@{ 
    var claimsIdentity = User != null ? User.Identity as System.Security.Claims.ClaimsIdentity : null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Social media, networking, and publishing where users earn Bitcoin over the Lightning Network.">
    <meta name="keywords" content="Bitcoin, Lightning Network, Social Media, Cryptocurrency, Lightning">
    @RenderSection("meta", required: false)
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/style/textspinners")
    @*@if (claimsIdentity != null && claimsIdentity.Claims.Select(c => c.Type).Contains("ColorTheme") && claimsIdentity.FindFirst("ColorTheme").Value == "dark")
    {
        @Styles.Render("~/Content/css-dark")
    }
    else
    {
        @Styles.Render("~/Content/css")
    }*@
</head>
<body class="top-navigation gray-bg">
    @Html.Partial(partialViewName: "_PartialModalLNTransaction")      @*This is the code for the modal dialog box to deposit*@
    <div id="wrapper" class="@Html.PageClass()">
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            @Html.Partial("_TopNavbar")
            @if (User != null && User.IsInRole("Administrator"))
            {
                Html.RenderAction("SiteAdminBar", controllerName: "Admin", routeValues: new { viewInfo = ViewBag.ViewInfo });
            }
            @RenderBody()
            @Html.Partial("_Footer")
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {@Html.AntiForgeryToken()}
        </div>
    </div>
    @RenderSection("scripts", required: false)  @*Handler for local scripts*@
    @Html.RenderPartialViewScripts()            @*Scripts used in any partial views (include once only)*@
    @Html.RenderScripts()                       @*Render Forloop.HtmlHelpers*@
    @*@Scripts.Render("~/bundles/shared")*@
    @if (User.Identity.IsAuthenticated)
    {
        @*<script src="~/signalr/hubs"></script>
        @Scripts.Render("~/bundles/realtime")*@
    }
</body>
</html>
