@model zapread.com.Models.PostViewModel

@{
    ViewBag.Title = Model.UserName + ": in " + Model.GroupName + " - " + Model.PostTitle;
    Model.IsDetailView = true;
    var UserName = Request.IsAuthenticated ? User.Identity.Name : "";
}

<div id="root"></div>

@section meta {
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@("@zapread") />
    <meta name="twitter:title" content="@Model.PostTitle" />
    <meta name="twitter:description" content="View post on zapread.com" />
    <meta name="twitter:image" content="@Url.Action("UserImage", "Home", new { UserId = Model.UserAppId, v=Model.UserProfileImageVersion }, "https")" />
}

@section Styles {
    @Styles.Render("~/bundles/post/detail/css")
}

@section Scripts {
    <script type="text/javascript">
        var ub = 0;
        var IsAuthenticated = @if (Request.IsAuthenticated) { <text>true</text> } else { <text>false</text> };
        var detailPostId = @Model.PostId;
        var detailPostVote = @if (ViewBag.vote != null) { <text>@ViewBag.vote</text>} else { <text>0</text> };
        var showVoteDialog = @if (ViewBag.showVote != null && ViewBag.showVote) { <text>true</text> } else { <text>false</text> };
        window.UserName = "@UserName";
    </script>
    @Scripts.Render("~/bundles/post/detail")
}