@using Microsoft.AspNet.Identity;
@model zapread.com.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Zapread.com";
    var UserName = Request.IsAuthenticated ? User.Identity.Name : "";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/home/index/css")
}

@section Scripts {
    <script type="text/javascript">
        var postSort = "@Model.Sort";
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
        window.UserName = "@UserName";
    </script>

    @Scripts.Render("~/bundles/home/index")
}
