@model zapread.com.Models.ManageUserViewModel
@using zapread.com.Models.Manage

@{
    ViewBag.Title = "Manage";
    List<string> included = new List<string>();
    var UserName = Request.IsAuthenticated ? User.Identity.Name : "";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/manage/index/css")
}

@section Scripts {
    <script type="text/javascript">
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
        var userAppId = "@Model.UserAppId";
        window.UserName = "@UserName";
    </script>
    @Scripts.Render("~/bundles/manage/index")
}