@model zapread.com.Models.ManageUserViewModel
@using zapread.com.Models.Manage

@{
    ViewBag.Title = "Manage";
    List<string> included = new List<string>();
}

@*<div id="ModalVote"></div>*@
<div id="GiftReferralModal"></div>

@*<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        @Html.Partial(partialViewName: "_ModalAboutMe", model: @Model.AboutMe)
    </div>
</div>*@

<div class="modal inmodal" id="ModalProfileImage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Profile Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateProfileImage", "Manage", FormMethod.Post, new { @class = "dropzone", id = "dropzoneForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div id="root"></div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                    <div class="zr-tools">
                        <div class="dropdown zr-small-dropdown">
                            <button class="dropdown-toggle" id="profileDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" id="btnUpdateProfileImage" data-target="#ModalProfileImage">Update Profile Image</a>
                                <a class="dropdown-item" href="#" id="btnRotateProfileImage"><i class="fa fa-repeat"></i> Rotate Profile Image</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content no-padding border-left-right">
                    <img id="userImageLarge" class="img-fluid" src="@Url.Action("UserImage", "Home", new { size = 500, v = Model.UserProfileImageVersion })" />
                </div>

                <div class="ibox-content profile-content">
                    <div>
                        <strong>
                            <img class="img-circle user-image-30" src="@Url.Action("UserImage", "Home", new { size = 30, v = Model.UserProfileImageVersion })" />
                            <big><span id="labelUsername">@Model.UserName</span></big>
                        </strong>
                        <div class="dropdown zr-small-dropdown">
                            <button class="dropdown-toggle" id="usernameDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="usernameDropdown">
                                <a class="dropdown-item" href="#" id="btnUploadImage" data-toggle="modal" data-target="#ModalProfileImage">Upload Profile Image</a>
                                <a class="dropdown-item" href="javascript:generateRobot(1);">Generate Profile Image (Robot)</a>
                                <a class="dropdown-item" href="javascript:generateRobot(2);">Generate Profile Image (Cat)</a>
                                <a class="dropdown-item" href="javascript:generateRobot(3);">Generate Profile Image (Human)</a>
                                <a class="dropdown-item" href="javascript:generateRobot(4);">Generate Profile Image (Monster)</a>
                                <a class="dropdown-item" href="#" id="btnChangeAlias">Change Alias</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <p><i class="fa fa-star"></i> Reputation @Model.Reputation</p>
                    <div>
                        <big>About me</big>
                        <div class="dropdown zr-small-dropdown">
                            <button class="dropdown-toggle" id="aboutmeDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="aboutmeDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" id="btnUpdateAboutMe" data-target="#myModal">Update About Me</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        @Model.AboutMe.AboutMe
                    </p>
                    <div class="row m-t-lg">
                        <div class="col-md-12">
                            <h5>Achievements</h5>
                            @foreach (var a in Model.AchievementsViewModel.Achievements)
                            {
                                <img class="ach-hover" data-achid="@a.Id" src="/Img/AchievementImage/@a.ImageId/" title="@a.Name" />
                            }
                        </div>
                    </div>
                    <div class="row m-t-lg">
                        <div class="col-md-4">
                            <h5><strong>@Model.NumPosts</strong> Posts</h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>@Model.NumFollowing</strong> Following</h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>@Model.NumFollowers</strong> Followers</h5>
                        </div>
                    </div>
                    <div class="user-button">

                    </div>
                </div>


                <div>

                    <div class="ibox-content profile-content">
                        <div class="form-group">
                            <label for="regLink">Referral Code</label>
                            <input type="text" id="referralCode" class="form-control" readonly aria-label="Referral Code">
                        </div>
                        <div class="form-group">
                            <label for="regLink">Registration Link</label>
                            <input type="text" id="regLink" class="form-control" readonly aria-label="Registration Link">
                        </div>
                        <div class="row m-t-lg">
                            <div class="col-md-4" title="Number of users referred">
                                <h5><strong id="refTotal">...</strong> Referred</h5>
                            </div>
                            <div class="col-md-4" title="Number of referred users paying bonuses">
                                <h5><strong id="refTotalActive">...</strong> Active</h5>
                            </div>
                            <div class="col-md-4" title="Active means you are getting bonuses">
                                <h5><strong id="refEnrolled"></strong></h5>
                            </div>
                        </div>
                        @if (Model.CanGiftReferral)
                        {
                            <div class="row m-t-lg">
                                <button id="giftReferalBtn" class="btn btn-block btn-outline btn-primary">Gift Referral</button>
                            </div>
                        }
                    </div>
                    <div>
                        <div class="ibox-content profile-content">
                            <h4>Security</h4>
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-sm-4">
                                        <a class="btn btn-block btn-outline btn-sm btn-primary" href='/Manage/ManageLogins'><i class="fa fa-user"></i> Manage Logins</a>
                                    </div>
                                    <div class="col-auto">
                                        External Logins
                                    </div>
                                </div>
                                <div class="row justify-content-start">
                                    <div class="col-sm-4">
                                        <a class="btn btn-block btn-outline btn-sm btn-warning" href='/Manage/APIKeys/'><i class="fa fa-key"></i> Manage Keys</a>
                                    </div>
                                    <div class="col-auto">
                                        API keys
                                    </div>
                                </div>
                                <div class="row justify-content-start">
                                    <div class="col-sm-4">
                                        <a class="btn btn-block btn-outline btn-sm btn-info" href='javascript:void(0);' onclick="requestAPIKey();"><i class="fa fa-key"></i> Request Key</a>
                                    </div>
                                    <div class="col-auto">
                                        Request a new API key.
                                    </div>
                                </div>
                                <div class="row justify-content-start">
                                    <div class="col-sm-4">
                                        <a class="btn btn-block btn-outline btn-sm btn-primary" href='javascript:void(0);' id="updateEmailBtn"><i class="fa-solid fa-at"></i> Update Email</a>
                                    </div>
                                    <div class="col-auto">
                                        Update email address.
                                    </div>
                                </div>
                                @if (!Model.EmailConfirmed)
                                {
                                    <div class="row justify-content-start">
                                        <div class="col-sm-4">
                                            <a class="btn btn-block btn-outline btn-sm btn-danger" href='@Url.Action("SendEmailConfirmation", "Account", null)'><i class="fa fa-exclamation"></i> Confirm Email</a>
                                        </div>
                                        <div class="col-auto">
                                            Confirm your email to secure your account.
                                        </div>
                                    </div>
                                }
                                <div class="row justify-content-start">
                                    <div class="col-sm-4">
                                        @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("twoFactor", isActive: Model.TwoFactor))
                                    </div>
                                    <div class="col-auto">
                                        Enable 2-factor authentication.
                                    </div>
                                </div>
                                @if (Model.EmailConfirmed)
                                {
                                    <div class="row justify-content-start">
                                        <div class="col-sm-4">
                                            @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("emailTwoFactor", isActive: Model.IsEmailAuthenticatorEnabled))
                                        </div>
                                        <div class="col-auto">
                                            Enable email 2-factor authentication.
                                        </div>
                                    </div>
                                }
                                <div class="row justify-content-start">
                                    <div class="col-sm-4">
                                        @if (Model.IsGoogleAuthenticatorEnabled)
                                        {
                                            <a class="btn btn-block btn-outline btn-sm btn-warning" id="btnDisableGA" href='javascript:void(0);'><i class="fa fa-times-circle"></i> Disable</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-block btn-outline btn-sm btn-primary" id="btnEnableGA" href='javascript:void(0);'><i class="fa fa-lock"></i> Enable</a>
                                        }
                                    </div>
                                    <div class="col-auto">
                                        Google Authenticator
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content profile-content">
                            <h4>Notifications</h4>
                            <div class="row">
                                <div class="col-auto text-center">
                                    Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-auto text-center">
                                    Alert
                                </div>
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("notifyPost", Model.Settings.NotifyOnOwnPostCommented))
                                @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("alertPost", Model.Settings.AlertOnOwnPostCommented))
                                <div class="col">
                                    Your posts receive a comment.
                                </div>
                            </div>
                            <div class="row">
                                @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("notifyComment", Model.Settings.NotifyOnOwnCommentReplied))
                                @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("alertComment", Model.Settings.AlertOnOwnCommentReplied))
                                <div class="col">
                                    Your comments receive a reply.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.NotifyOnNewPostSubscribedGroup) { <text> checked</text> } class="onoffswitch-checkbox" id="notifyNewPostGroup" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="notifyNewPostGroup">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.AlertOnNewPostSubscribedGroup) { <text> checked</text> } class="onoffswitch-checkbox" id="alertNewPostGroup" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="alertNewPostGroup">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    New post in a subscribed group.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.NotifyOnNewPostSubscribedUser) { <text> checked</text> } class="onoffswitch-checkbox" id="notifyNewPostUser" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="notifyNewPostUser">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.AlertOnNewPostSubscribedUser) { <text> checked</text> } class="onoffswitch-checkbox" id="alertNewPostUser" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="alertNewPostUser">
                                                <i class="fa fa-refresh fa-spin switch-spinner" "></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    New post from a subscribed user.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.NotifyOnPrivateMessage) { <text> checked</text> } class="onoffswitch-checkbox" id="notifyPrivateMessage" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="notifyPrivateMessage">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.AlertOnPrivateMessage) { <text> checked</text> } class="onoffswitch-checkbox" id="alertPrivateMessage" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="alertPrivateMessage">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    New Private Message
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.NotifyOnReceivedTip) { <text> checked</text> } class="onoffswitch-checkbox" id="notifyReceivedTip" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="notifyReceivedTip">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.AlertOnReceivedTip) { <text> checked</text> } class="onoffswitch-checkbox" id="alertReceivedTip" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="alertReceivedTip">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    Received tip.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.NotifyOnMentioned) { <text> checked</text> } class="onoffswitch-checkbox" id="notifyMentioned" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="notifyMentioned">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.AlertOnMentioned) { <text> checked</text> } class="onoffswitch-checkbox" id="alertMentioned" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="alertMentioned">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    Mentioned by others.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="ibox-content profile-content">
                            <h4>Customization</h4>
                            
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.ColorTheme == "dark") { <text> checked</text> } class="onoffswitch-checkbox" id="colorTheme" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="colorTheme">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    Use dark color theme.  Refresh page to take effect.
                                </div>
                            </div>
                            <div class="row">
                                @Html.Partial(partialViewName: "_PartialManageSetting", model: new ManageSettingViewModel("showOnline", Model.Settings.ShowOnline))
                                <div class="col">
                                    Hide online status.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.ViewAllLanguages) { <text> checked</text> } class="onoffswitch-checkbox" id="ViewAllLanguages" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="ViewAllLanguages">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    View posts in all languages.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" @if (Model.Settings.ViewTranslatedLanguages) { <text> checked</text> } class="onoffswitch-checkbox" id="ViewTranslatedLanguages" onclick="settingToggle(this)">
                                            <label class="onoffswitch-label" for="ViewTranslatedLanguages">
                                                <i class="fa fa-refresh fa-spin switch-spinner"></i>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    [experimental] View google translated posts automatically if they exist.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <br />
                                        <h4>User Languages</h4>
                                        <select id='languagesSelect' data-placeholder="Choose a Language..." class="chosen-select" multiple>
                                                                            @foreach (var l in Model.KnownLanguages)
                                                                            {
                                                                                if (!included.Contains(@l.Split(':')[0]) && Model.Languages.Contains(@l.Split(':')[0]))
                                                                                {
                                                                                    <option selected value="@l.Split(':')[0]">@l.Split(':')[1]</option>
                                                                                    included.Add(@l.Split(':')[0]);
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@l.Split(':')[0]">@l.Split(':')[1]</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ibox">
                                                    <div class="ibox-content">
                                                        <h3>You are subscribing to</h3>
                                                        <p class="small">
                                                            You are subscribed to content from these users.  Their content will appear in your activity feed.
                                                        </p>
                                                        <div class="user-friends">
                                                            @foreach (var u in Model.TopFollowingVm)
                                                            {
                                                                <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = u.Name })">
                                                                    <img class="img-circle" title="@u.Name" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = u.AppId, v = u.ProfileImageVersion })" />
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ibox">
                                                    <div class="ibox-content">
                                                        <h3>Subscribing to you</h3>
                                                        <p class="small">
                                                            These users are subscribing to you.  Your content will appear in their activity feed.
                                                        </p>
                                                        <div class="user-friends">
                                                            @foreach (var u in Model.TopFollowersVm)
                                                            {
                                                                <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = u.Name })">
                                                                    <img class="img-circle" title="@u.Name" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = u.AppId, v = u.ProfileImageVersion })" />
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ibox-title">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <a href="@Url.Action("Financial", "Manage")" class="btn btn-primary btn-outline">Account Financial</a>
                                                        </div>
                                                    </div>
                                                    <div class="ibox-tools">
                                                    </div>
                                                </div>

                                                <div class="ibox-title">
                                                    <h5>Groups</h5>
                                                    <div class="ibox-tools">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="ibox-content profile-content">
                                                        @Html.Partial(partialViewName: "_PartialManageGroups", model: @Model.UserGroups)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>Activites</h5>
                                                    <div class="ibox-tools">
                                                        <a tabindex="-1" class="collapse-link">
                                                            <i class="fa-solid fa-chevron-up"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div id="posts">
                                                        <div id="posts-loading" class="ibox-content no-padding sk-loading" style="border-style:none;min-height:30px;">
                                                            <div class="sk-spinner sk-spinner-three-bounce">
                                                                <div class="sk-bounce1"></div>
                                                                <div class="sk-bounce2"></div>
                                                                <div class="sk-bounce3"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button id="btnLoadmore" class="btn btn-primary btn-block m" onclick="loadmore(@Model.UserId)"><i class="fa-solid fa-arrow-down"></i> Show More <i id="loadmore" class="fa-solid fa-circle-notch fa-spin" style="display:none"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @section Styles {
                                    @Styles.Render("~/bundles/manage/index/css")
                                }

                                @section Scripts {
                                    <script type="text/javascript">
                                        var ub = @Model.UserBalance;
                                        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
                                    </script>
                                    @Scripts.Render("~/bundles/manage/index")
                                }
