@using zapread.com.Helpers;
@model zapread.com.Models.GroupViews.GroupHoverViewModel

<div class="row">
    <div class="col">
        <span class='btn btn-sm btn-link' data-toggle='tooltip' data-placement='bottom' title='Tier'>
            @Model.GroupLevel <i class='fa fa-arrow-up'></i>
        </span>
        <span class='btn btn-sm btn-link' data-toggle='tooltip' data-placement='bottom' title='Posts'>
            @Model.GroupPostCount <i class='fa fa-pencil'></i>
        </span>
        <span class='btn btn-sm btn-link' data-toggle='tooltip' data-placement='bottom' title='Members'>
            @Model.GroupMemberCount <i class='fa fa-user'></i>
        </span>
        @if (!Model.IsMember)
        {
            <a href='javascript:void(0);' class='btn btn-sm btn-link' data-page='h' data-toggle='tooltip' data-placement='bottom' title='Join' onclick='joinGroup(@Model.GroupId,this);'>
                <i class='fa fa-plus'></i>
            </a>
        }
        else
        {
            <a href='javascript:void(0);' class='btn btn-sm btn-link' data-page='h' data-toggle='tooltip' data-placement='bottom' title='Leave' onclick='leaveGroup(@Model.GroupId,this);'>
                <i class='fa fa-minus'></i>
            </a>
        }
    </div>
</div>