@using Microsoft.AspNet.Identity;

@model zapread.com.Models.GroupViewModel
@{
    ViewBag.Title = Model.GroupName + (string.IsNullOrEmpty(Model.ShortDescription) ? "" : " - " + Model.ShortDescription);
    ViewBag.ViewInfo = "Group:" + Model.GroupName;
}

@Html.Partial(partialViewName: "_PartialModalVote")         @*This is the code for the modal dialog box to vote*@

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <p class="pull-right">
            <a class="btn btn-sm btn-link" href="@Url.Action("Members", "Group", new { id = Model.GroupId })"><i class="fa fa-users"></i> <span id="group_membercount_@Model.GroupId">@Model.NumMembers</span> Members</a>
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.IsIgnored)
                {
                    <a href="javascript:void(0);" id="i_@Model.GroupId" onclick="toggleIgnore(@Model.GroupId)" class="btn btn-sm btn-link btn-warning btn-outline"><i class="fa fa-circle"></i> Un-Ignore</a>
                }
                else
                {
                    <a href="javascript:void(0);" id="i_@Model.GroupId" onclick="toggleIgnore(@Model.GroupId)" class="btn btn-sm btn-link btn-warning btn-outline"><i class="fa fa-ban"></i> Ignore</a>
                }
                if (Model.IsMember)
                {
                    <a href="javascript:void(0);" id="j_@Model.GroupId" data-page="detail" onclick="leaveGroup(@Model.GroupId, this)" class="btn btn-primary btn-outline btn-sm"><i class="fa fa-user-times"></i> Leave </a>
                }
                else
                {
                    <a href="javascript:void(0);" id="j_@Model.GroupId" data-page="detail" onclick="joinGroup(@Model.GroupId, this)" class="btn btn-primary btn-outline btn-sm"><i class="fa fa-user-plus"></i> Join </a>
                }
            }
        </p>
        <h2>
            <i class="fa @Model.Icon"></i> @Model.GroupName @if (!string.IsNullOrEmpty(Model.ShortDescription))
            {<text> - </text> @Model.ShortDescription}
        </h2>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Group">Groups</a></li>
            <li class="breadcrumb-item active">@Model.GroupName</li>
        </ol>

        <small>Tier @Model.Tier - @(Model.TotalEarned + Model.TotalEarnedToDistribute) Satoshi earned</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

@if (Model.IsGroupAdmin)
{
    Html.RenderAction("GroupAdminBar", controllerName: "Group", routeValues: new { groupId = Model.GroupId });
}

@if (Model.IsGroupMod)
{
    <div class="wrapper wrapper-content ">
        <div class="row ">
            <div class="col-lg-12">
                <div class="ibox float-e-margins collapsed" style="margin-bottom: 0px;">
                    <div class="ibox-title bg-info">
                        <h5>
                            Group Moderation : You have moderation privilages for this group
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Group Actions
                        </h2>
                        <p>
                            Add user to group admin;
                            <br />
                            Add user to group mod;
                            <br />
                            Add user to group;
                            <br />
                            Delete Group;
                            <br />
                            Ban / Unban users;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins d-none d-lg-block">
                <div class="ibox-title">
                    <h5>Your Top Groups</h5>
                </div>
                <div class="ibox-content">
                    @foreach (var g in Model.SubscribedGroups)
                    {
                        <button style="white-space:normal !important; word-wrap: break-word; word-break: normal;" onclick="location.href='@Url.Action("GroupDetail", "Group", new { id = g.Id })'" class="btn btn-link btn-block text-left">
                            <i class="fa fa-@g.Icon"></i> @g.Name
                            @if (g.IsAdmin)
                            {
                                <i class="fa fa-gavel text-primary" data-toggle="tooltip" data-placement="right" title="Administrator"></i>
                            }
                            else if (g.IsMod)
                            {
                                <i class="fa fa-gavel text-success" data-toggle="tooltip" data-placement="right" title="Moderator"></i>
                            }
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="social-feed-box-nb">
                <span></span>
            </div>
            <div class="social-feed-box-nb">
                <button onclick="location.href='@Url.Action("NewPost", "Post", new { group = Model.GroupId})'" class="btn btn-primary btn-outline btn-block"><i class="fa fa-plus"></i> Add Post</button>
            </div>
            <div id="posts">
                @foreach (var p in Model.Posts)
                {
                    @Html.Partial(partialViewName: "_PartialPostRenderVm", model: p)
                }
            </div>

            @if (Model.HasMorePosts)
            {
                <div class="social-feed-box-nb" id="showmore">
                    <button id="btnLoadmore" class="btn btn-primary btn-block" onclick="loadmore(@Model.GroupId)">
                        <i class="fa fa-arrow-down"></i> Show More <i id="loadmore" class="fa fa-circle-o-notch fa-spin" style="display:none"></i>
                    </button>
                </div>
            }
            <div class="social-feed-box-nb">
                <span></span>
            </div>
            <div class="social-feed-box-nb" style="margin-bottom:50px;">
                <span></span>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/group/detail/css")
}

@section Scripts {
    <script type="text/javascript">
        var ub = @Model.UserBalance;
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
        var groupId = @Model.GroupId;
    </script>
    @Scripts.Render("~/bundles/group/detail")
}
