@using Microsoft.AspNet.Identity;

@model zapread.com.Models.GroupViewModel
@{
    ViewBag.Title = Model.Group.GroupName + (string.IsNullOrEmpty(Model.Group.ShortDescription) ? "" : " - " + Model.Group.ShortDescription);
    ViewBag.ViewInfo = "Group:" + Model.Group.GroupName;
}

@Html.Partial(partialViewName: "_PartialModalVote")         @*This is the code for the modal dialog box to vote*@

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <p class="pull-right">
            <a class="btn btn-sm btn-link" href="@Url.Action("Members", "Group", new { id = Model.Group.GroupId })"><i class="fa fa-users"></i> <span id="group_membercount_@Model.GroupInfo.Id">@Model.GroupInfo.NumMembers</span> Members</a>
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.IsIgnored)
                {
                    <a href="javascript:void(0);" id="i_@Model.GroupInfo.Id" onclick="toggleIgnore(@Model.GroupInfo.Id)" class="btn btn-sm btn-link btn-warning btn-outline"><i class="fa fa-circle"></i> Un-Ignore</a>
                }
                else
                {
                    <a href="javascript:void(0);" id="i_@Model.GroupInfo.Id" onclick="toggleIgnore(@Model.GroupInfo.Id)" class="btn btn-sm btn-link btn-warning btn-outline"><i class="fa fa-ban"></i> Ignore</a>
                }
                if (Model.GroupInfo.IsMember)
                {
                    <a href="javascript:void(0);" id="j_@Model.GroupInfo.Id" onclick="leave(@Model.GroupInfo.Id)" class="btn btn-primary btn-outline btn-sm"><i class="fa fa-user-times"></i> Leave </a>
                }
                else
                {
                    <a href="javascript:void(0);" id="j_@Model.GroupInfo.Id" onclick="join(@Model.GroupInfo.Id)" class="btn btn-primary btn-outline btn-sm"><i class="fa fa-user-plus"></i> Join </a>
                }
            }
        </p>
        <h2><i class="fa @Model.GroupInfo.Icon"></i> @Model.GroupInfo.Name @if (!string.IsNullOrEmpty(Model.Group.ShortDescription)) { <text> - </text> @Model.Group.ShortDescription }</h2>

<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Group">Groups</a></li>
            <li class="breadcrumb-item active">@Model.GroupInfo.Name</li>
        </ol>

        <small>Tier @Model.Group.Tier - @(Model.Group.TotalEarned + Model.Group.TotalEarnedToDistribute) Satoshi earned</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

@if (Model.IsGroupAdmin)
            {
                Html.RenderAction("GroupAdminBar", controllerName: "Group", routeValues: new { groupId = Model.Group.GroupId });
            }

@if (Model.IsGroupMod)
{
    <div class="wrapper wrapper-content ">
        <div class="row ">
            <div class="col-lg-12">
                <div class="ibox float-e-margins collapsed" style="margin-bottom: 0px;">
                    <div class="ibox-title bg-info">
                        <h5>
                            Group Moderation : You have moderation privilages for this group
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Group Actions
                        </h2>
                        <p>
                            Add user to group admin;
                            <br />
                            Add user to group mod;
                            <br />
                            Add user to group;
                            <br />
                            Delete Group;
                            <br />
                            Ban / Unban users;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins d-none d-lg-block">
                <div class="ibox-title">
                    <h5>Your Top Groups</h5>
                </div>
                <div class="ibox-content">
                    @foreach (var g in Model.SubscribedGroups)
        {
                        <button style="white-space:normal !important; word-wrap: break-word; word-break: normal;" onclick="location.href='@Url.Action("GroupDetail", "Group", new { id = g.Id })'" class="btn btn-link btn-block text-left">
                            <i class="fa fa-@g.Icon"></i> @g.Name
                            @if (g.IsAdmin)
        {
                                <i class="fa fa-gavel text-primary" data-toggle="tooltip" data-placement="right" title="Administrator"></i>
                            }
                            else if (g.IsMod)
                            {
                                <i class="fa fa-gavel text-success" data-toggle="tooltip" data-placement="right" title="Moderator"></i>
                            }
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="social-feed-box">
                <span></span>
            </div>
            <div class="social-feed-box">
                <button onclick="location.href='@Url.Action("NewPost", "Post", new { group = Model.Group.GroupId})'" class="btn btn-primary btn-outline btn-block"><i class="fa fa-plus"></i> Add Post</button>
            </div>
            <div id="posts">
                @foreach (var p in Model.Posts)
                {
                    @Html.Partial(partialViewName: "_PartialPostRender", model: p)
                }
            </div>

            @if (Model.HasMorePosts)
        {
                <div class="social-feed-box" id="showmore">
                    <button id="btnLoadmore" class="btn btn-primary btn-block" onclick="loadmore()"><i class="fa fa-arrow-down"></i> Show More <i id="loadmore" class="fa fa-circle-o-notch fa-spin" style="display:none"></i></button>
                </div>
            }
            <div class="social-feed-box">
                <span></span>
            </div>
            <div class="social-feed-box" style="margin-bottom:50px;">
                <span></span>
            </div>
        </div>
    </div>
</div>

@section Styles {
@Styles.Render("~/Content/plugins/selectize")
}

@section Scripts {
@Scripts.Render("~/plugins/selectize")

<script type="text/javascript">
    var ub = @Model.UserBalance;
    var IsAuthenticated = "@Request.IsAuthenticated" == "True";

    $(document).ready(function () {
        // This loads all async partial views on page
        $(".partialContents").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                $(item).load(url);
                }
            });

        // Collapse ibox function
        $('.collapse-link').on('click', function () {
            var ibox = $(this).closest('div.ibox');
            var button = $(this).find('i');
            var content = ibox.children('.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });

        // Close ibox function
        $('.close-link').on('click', function () {
            var content = $(this).closest('div.ibox');
            content.remove();
        });
    });

    var toggleIgnore = function (id) {
        joinurl = "/Group/ToggleIgnore";
        var data = JSON.stringify({ 'groupId': id });
        $.ajax({
            async: true,
            data: data.toString(),
            type: 'POST',
            url: joinurl,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result == "success") {
                    if (response.added) {
                        $("#i_" + id.toString()).html("<i class='fa fa-circle'></i> Un-Ignore ");
                    }
                    else {
                        $("#i_" + id.toString()).html("<i class='fa fa-ban'></i> Ignore ");
                    }
                }
            }
        });
        return false;
    };

    var join = function (id) {
        joinurl = "/Group/JoinGroup";
        var data = JSON.stringify({ 'gid': id });
        $.ajax({
            async: true,
            data: data.toString(),
            type: 'POST',
            url: joinurl,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result == "success") {
                    $("#j_" + id.toString()).html("<i class='fa fa-user-times'></i> Leave ");
                    $("#j_" + id.toString()).attr("onClick", "javascript: leave(" + id.toString() + "); ");
                    var numMembers = parseInt($('#group_membercount_' + id.toString()).html());
                    $('#group_membercount_' + id.toString()).html(numMembers + 1);
                }
            }
        });
        return false;
    };

    var leave = function (id) {
        leaveurl = "/Group/LeaveGroup";
        var data = JSON.stringify({ 'gid': id });
        $.ajax({
            async: true,
            data: data.toString(),
            type: 'POST',
            url: leaveurl,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result == "success") {
                    $("#j_" + id.toString()).html("<i class='fa fa-user-plus'></i> Join ");
                    $("#j_" + id.toString()).attr("onClick", "javascript: join(" + id.toString() + "); ");
                    var numMembers = parseInt($('#group_membercount_' + id.toString()).html());
                    $('#group_membercount_' + id.toString()).html(numMembers - 1);
                }
            }
        });
        return false;
    };

    /* Infinite scroll */
    var BlockNumber = 10;
    var NoMoreData = false;
    var inProgress = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !NoMoreData && !inProgress) {
            loadmore();
        }
    });

    var loadmore = function () {
        if (!inProgress) {
            inProgress = true;
            $('#loadmore').show();
            $('#btnLoadmore').prop('disabled', true);
            $.post(
                "@Url.Action("InfiniteScroll", "Group")", 
                { "id": "@Model.Group.GroupId", "BlockNumber": BlockNumber, "sort": "New" },
                function (data) {
                    $('#loadmore').hide();
                    $('#btnLoadmore').prop('disabled', false);
                    BlockNumber = BlockNumber + 10;
                    NoMoreData = data.NoMoreData;
                    $("#posts").append(data.HTMLString);
                    inProgress = false;

                    // Wait for new posts to be added then tidy up.
                    $.when(addposts(data), $.ready).then(function () {
                        zrOnLoadedMorePosts();
                    });
                    
                    if (NoMoreData) {
                        $('#showmore').hide();
                    }
            });
        }
    };
</script>
}
