@model zapread.com.Models.GroupsViewModel
@{
    ViewBag.Title = "Groups";
}
<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Groups</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Group">Groups</a></li>
            <li class="breadcrumb-item active">List</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="pull-right forum-desc">
                        <samll>Total posts: @Model.TotalPosts</samll>
                    </div>
                    <h3>Top Groups</h3>
                    <div class="ibox-tools">
                        <a href="/Group/New" class="btn btn-primary btn-xs">Create new group</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table id="groupTable" class="table table-hover" style="width:100%">
                            <thead style="display:none;">
                                <tr>
                                    <th>Icon</th>
                                    <th>Name</th>
                                    <th>Tags</th>
                                    <th>Progress</th>
                                    <th>Tier</th>
                                    <th>Members</th>
                                    <th>Posts</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/selectize")
    @Styles.Render("~/bundles/css/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/plugins/selectize")
    @Scripts.Render("~/bundles/group/index")
}