@using Microsoft.AspNet.Identity;
@model zapread.com.Models.GroupMembersViewModel

@{
    ViewBag.Title = "Group Members";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2><i class="fa @Model.Icon"></i> @Model.GroupName</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Group">Groups</a></li>
            <li class="breadcrumb-item"><a href="/Group/GroupDetail/@Model.GroupId">@Model.GroupName</a></li>
            <li class="breadcrumb-item active">Members</li>
        </ol>
        <small>@Model.TotalEarned Satoshi earned</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>


    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-lg-10">
            <br />
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    @foreach (var m in Model.Members)
                    {
                        @Html.Partial(partialViewName: "_PartialGroupMember", model: m)
                    }
                </div>
            </div>
        </div>
    </div>
