@using Microsoft.AspNet.Identity;
@model zapread.com.Models.GroupViewModel

@{
    ViewBag.Title = "Group Members";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa @Model.GroupInfo.Icon"></i> @Model.GroupInfo.Name</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Groups</a></li>
            <li class="breadcrumb-item">@Model.GroupInfo.Name</li>
            <li class="breadcrumb-item active">Members</li>
        </ol>
        <small>@(Model.Group.TotalEarned + Model.Group.TotalEarnedToDistribute) Satoshi earned</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-lg-10">
            <br />
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    @foreach (var m in Model.GroupInfo.Members)
                    {
                        @Html.Partial(partialViewName: "_PartialGroupMember", model: m)
                    }
                </div>
            </div>
        </div>
    </div>
</div>