@model zapread.com.Models.NewGroupViewModel

@{
    ViewBag.Title = "New";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Groups</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Group">Groups</a></li>
            <li class="breadcrumb-item active">New</li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create a new group</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("New", "Group",
                        new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post,
                        new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.GroupName, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.GroupName, "", new { @class = "form-control", placeholder = "Group Name" })
                                @Html.ValidationMessageFor(m => m.GroupName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Tags, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Tags, "", new { @class = "form-control", placeholder = "Tags", id = "multisel" })
                                @*<input id="multisel" type="text" class="form-control">*@
                                <small id="multiselHelp" class="form-text text-muted">Tags help people search and filter groups.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Icon</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(m => m.Icon,
                                            Model.Icons.Select(x => new SelectListItem() { Text = x, Value = x}),
                                            new { @class = "repositories", id= "select-icon"})
                                    </div>
                                    <div class="col-sm-7">
                                        <small id="multiselHelp" class="form-text text-muted">Icons are a visual cue to help users identify the group.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Default Language</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(m => m.Language,
                                            Model.Languages.Select(x => new SelectListItem() { Text = x.Split(':')[1], Value = x.Split(':')[0] }),
                                            new { @class = "form-control", id= "select-language"})
                                    </div>
                                    <div class="col-sm-7">
                                        <small id="multiselHelp" class="form-text text-muted">The default language of posts in the group.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="/Group" class="btn btn-white">Cancel</a>
                                <button class="btn btn-primary" type="submit">Create Group</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/selectize")
}

@section Scripts {
    @Scripts.Render("~/plugins/selectize")
    @Scripts.Render("~/bundles/group/new")
}