@using zapread.com.Helpers;
@using zapread.com.Models;
@using zapread.com.Models.UserViews;
@model zapread.com.Models.PostViewModel

@{
    Layout = "~/Views/Shared/_LayoutMailer.cshtml";
    ViewBag.Title = Model.Post.UserId.Name + ": in " + Model.Post.Group.GroupName + " - " + Model.Post.PostTitle;
    ViewBag.Message = "New post from a user you are following: " + Model.Post.UserId.Name;
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="container" style="padding-top:30px;background-color:white;padding-bottom: 1px;">
                <h3 style="display:inline-block">@ViewBag.Message</h3>
                <hr />
            </div>
            <div class="container" style="background-color:white;margin-bottom: 0px;">
                <div class="social-avatar">
                    <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = Model.Post.UserId.Name })" class="pull-left">
                        <img class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = Model.Post.UserId.AppId })" />
                    </a>
                    <div class="media-body">
                        <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = Model.Post.UserId.Name.Trim() })">
                            @Model.Post.UserId.Name
                        </a>
                        posted in
                        <a href="@Url.Action(actionName: "GroupDetail", controllerName: "Group", routeValues: new { id = Model.Post.Group.GroupId })" style="font-size: small; display: inline">
                            @Model.Post.Group.GroupName
                        </a>
                        <h3 style="display: block;">
                            <a href="@Url.Action("Detail", "Post", new { id = Model.Post.PostId })">
                                @if (Model.Post.PostTitle == null)
                                {
                                    <text>Post</text>
                                }
                                else
                                {
                                    @Model.Post.PostTitle
                                }
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="social-body">
                    <div class="col-sm-auto vote-actions">
                        <div class="vote-actions">
                            <a href="@Url.Action("Detail", "Post", new { id = Model.Post.PostId, vote = 1 })" class="@(Model.ViewerUpvoted ? "" : "text-muted ") @(Model.IsFirstPost ? "firstPostVoteUp" : "")">
                                <img src="~/Content/vup.png" style="margin-bottom: 0px;"/>
                            </a>
                            <div>@Model.Post.Score.ToAbbrString()</div>
                            <a href="@Url.Action("Detail", "Post", new { id = Model.Post.PostId, vote = 0 })" class="@(Model.ViewerDownvoted ? "" : "text-muted ") @(Model.IsFirstPost ? "firstPostVoteDown" : "")">
                                <img src="~/Content/vdn.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="post-quotable" data-postid="@Model.Post.PostId">
                                <div class="post-content">
                                    @Html.Raw(Model.Post.Content)
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:white;">
                Please log into <a href="https://www.zapread.com">ZapRead.com</a> to unsubscribe from these emails.
            </div>
        </div>
    </div>
</div>

