@using Microsoft.AspNet.Identity;
@using zapread.com.Helpers;
@using zapread.com.Models;
@using zapread.com.Models.UserViews;
@model zapread.com.Models.PostCommentsViewModel

@{
    Layout = "~/Views/Shared/_LayoutMailer.cshtml";
    ViewBag.Title = "MailerNewComment";
    ViewBag.Message = "New comment on your post " + Model.Comment.Post.PostTitle;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="container" style="padding-top:30px;background-color:white;padding-bottom: 1px;">
                <a href="@Url.Action("Detail", "Post", new { id = Model.Comment.Post.PostId })#cid_@Model.Comment.CommentId"><h3 style="display:inline-block">@ViewBag.Message</h3></a>
                <hr />
            </div>
            <div class="container" style="background-color:white;margin-bottom: 0px;">
                <div class="social-footer">
                    <div class=" social-comment">
                        <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = Model.Comment.UserId.Name.Trim() })" class="pull-left">
                            <img class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = Model.Comment.UserId.AppId, v = Model.Comment.UserId.ProfileImage.Version })" />
                        </a>
                        <div class="media-body">
                            @Html.Partial("_PartialUserLink", new UserLinkViewModel() { User = Model.Comment.UserId, IsIgnored = false })
                            <div id="commentText_@Model.Comment.CommentId" style="position: relative;">
                                <div>@Html.Raw(Model.Comment.Text)</div><br />
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:white;">
                
                <br />
                <hr />
                Please log into <a href="https://www.zapread.com">ZapRead.com</a> to unsubscribe from these emails.
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
