@using Microsoft.AspNet.Identity;
@using zapread.com.Helpers;
@using zapread.com.Models;
@using zapread.com.Models.UserViews;
@using System.Globalization;
@model zapread.com.Models.PostCommentsViewModel

@{
    Layout = "~/Views/Shared/_LayoutMailer.cshtml";
    ViewBag.Title = "MailerNewComment";
    ViewBag.Message = "New comment on your post " + Model.PostTitle;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="container" style="padding-top:30px;background-color:white;padding-bottom: 1px;">
                <a href="@Url.Action("Detail", "Post", new { PostId = Model.PostId, postTitle = Model.PostTitle != null ? Model.PostTitle.MakeURLFriendly() : null })#cid_@Model.CommentId"><h3 style="display:inline-block">@ViewBag.Message</h3></a>
                <hr />
            </div>
            <div class="container" style="background-color:white;margin-bottom: 0px;">
                <div class="social-footer">
                    <div class=" social-comment">
                        <div class="vote-actions">
                            <a href="@(Url.Action("Detail", "Post", new { PostId = Model.PostId, postTitle = Model.PostTitle != null ? Model.PostTitle.MakeURLFriendly() : null, vote = 1 })+"#cid_"+Convert.ToString(Model.CommentId,CultureInfo.InvariantCulture))" class="text-muted">
                                <img src="~/Content/vup.png" style="margin-bottom: 0px; margin-right: 0px; width: auto;" />
                            </a>
                            <div id="sVotec_@Model.CommentId">@Model.Score</div>
                            <a href="@(Url.Action("Detail", "Post", new { PostId = Model.PostId, postTitle = Model.PostTitle != null ? Model.PostTitle.MakeURLFriendly() : null, vote = 0 })+"#cid_"+Convert.ToString(Model.CommentId,CultureInfo.InvariantCulture))" class="text-muted">
                                <img src="~/Content/vdn.png" style="margin-bottom: 0px; margin-right: 0px; width: auto;" />
                            </a>
                        </div>

                        <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = Model.UserName.Trim() })" class="pull-left">
                            <img class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = Model.UserAppId, v = Model.ProfileImageVersion })" />
                        </a>

                        <div class="media-body" style="display:inline;">
                            @Html.Partial("_PartialUserLinkVm", new UserLinkViewModel() { UserId = Model.UserId, UserName = Model.UserName, IsIgnored = false })
                            <br /><br /><br>
                            <div id="commentText_@Model.CommentId" style="position: relative;">
                                <div>@Html.Raw(Model.Text)</div><br />
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:white;">

                <br />
                <hr />
                Please log into <a href="https://www.zapread.com">ZapRead.com</a> to unsubscribe from these emails.
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/mailer/default/css")
}
