@using Microsoft.AspNet.Identity;
@using zapread.com.Helpers;
@model zapread.com.Models.Manage.UpdatedUserAliasView

@{
    Layout = "~/Views/Shared/_LayoutMailer.cshtml";
    ViewBag.Title = "MailerUpdatedAlias";
    ViewBag.Message = "Your user alias has been updated.";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="container" style="padding-top:30px;background-color:white;padding-bottom: 1px;">
                <a href="@Url.Action("Index", "Manage")"><h3 style="display:inline-block">@ViewBag.Message</h3></a>
                <hr />
            </div>
            <div class="container" style="background-color:white;margin-bottom: 0px;">
                <div class="post-content">
                    <p>Your old username was: <b><span>@Model.OldUserName</span></b></p>
                    <p>Your new username is: <b><span style="color:darkgreen">@Model.NewUserName</span></b></p>
                    <p>Other users will now see this new username associated to all of your site content.  <i>Please note that you must use this new username to log into the website going forward (except if you log in using a sign-in partner).</i></p>
                    <p>If this action was not done by you, your ZapRead account may be compromised.  Please visit <a href="https://www.zapread.com/Home/Feedback/">https://www.zapread.com/Home/Feedback/</a> for support.</p>
                </div>
                <br />
                <hr />
                Please log into <a href="https://www.zapread.com">ZapRead.com</a> to unsubscribe from these emails.
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/mailer/default/css")
}
