
<div class="wrapper wrapper-content ">
    <div class="row ">
        <div class="col-lg-12">
            <div class="ibox float-e-margins collapsed" style="margin-bottom: 0px;">
                <div class="ibox-title bg-danger">
                    <h5>
                        Site Administration : You have logged in with a site administrator account
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="@Url.Action("Index", "Admin")" class="btn btn-primary btn-outline">Admin Panel</a>
                            <a href="@Url.Action("Icons", "Admin")" class="btn btn-primary btn-outline">Edit Icons</a>
                            <a href="@Url.Action("Achievements", "Admin")" class="btn btn-primary btn-outline">Edit Achievements</a>
                            <a href="@Url.Action("Users", "Admin")" class="btn btn-primary btn-outline">Users</a>
                            <a href="@Url.Action("Lightning", "Admin")" class="btn btn-primary btn-outline">Lightning</a>
                            <a href="@Url.Action("Jobs", "Admin")" class="btn btn-primary btn-outline">Jobs</a>
                            <a href="/hangfire" class="btn btn-primary btn-outline">Job Queue</a>
                        </div>
                    </div>
                    @if (ViewBag.ViewInfo != null && Convert.ToString(ViewBag.ViewInfo).StartsWith("User:"))
                    {
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>User Information</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        @{Html.RenderAction("SiteAdminBarUserInfo", "Admin", new { userId = Convert.ToString(ViewBag.ViewInfo).Replace("User:", "") });}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>-</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">-</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>-</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">-</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>-</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">-</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (ViewBag.ViewInfo != null && Convert.ToString(ViewBag.ViewInfo).StartsWith("Group:"))
                    {
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>Group Roles</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        @{Html.RenderAction("AdminAddUserToGroupRoleForm", "Admin", new { groupName = Convert.ToString(ViewBag.ViewInfo).Replace("Group:", "") });}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>Users Banned</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">0</h1>
                                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                                        <small>BTC User Deposits</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>?</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">0</h1>
                                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                                        <small>BTC User Withdraws</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title bg-danger">
                                        <h5>Votes</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">0</h1>
                                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                                        <small>Up + Down</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
