@model zapread.com.Models.Admin.AdminViewModel
@{
    ViewBag.Title = "Admin page";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Administration</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <small>Website administration page</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Income</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@((Model.Globals.ZapReadTotalEarned / 100000000.0).ToString("F8"))</h1>
                <div class="stat-percent font-bold text-success">-- <i class="fa fa-bolt"></i></div>
                <small>Past 30 days</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Deposited</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.LNTotalDeposited.ToString("F8")</h1>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>BTC</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Withdrawn</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.LNTotalWithdrawn.ToString("F8")</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>BTC</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Deposit - Withdraw</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@((Model.LNTotalDeposited - Model.LNTotalWithdrawn).ToString("F8"))</h1>
                <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                <small>BTC</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pending Community Payout</h5>
            </div>
            <div class="ibox-content bg-info">
                <h1 class="no-margins">@Model.Globals.CommunityEarnedToDistribute.ToString("#.###")</h1>
                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>Satoshi</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pending Groups Payout</h5>
            </div>
            <div class="ibox-content bg-info">
                <h1 class="no-margins">@Model.PendingGroupToDistribute.ToString("#.###")</h1>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>Satoshi</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN fees paid</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.LNFeesPaid.ToString("F8")</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>BTC</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>-</h5>
            </div>
            <div class="ibox-content bg-danger">
                <h1 class="no-margins">0</h1>
                <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                <small>--</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Active Local</h5>
            </div>
            <div class="ibox-content bg-danger">
                <h1 class="no-margins">@Model.LNLocalBalance.ToString("F8")</h1>
                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>BTC in channels (can send)</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Active Remote</h5>
            </div>
            <div class="ibox-content bg-danger">
                <h1 class="no-margins">@Model.LNRemoteBalance.ToString("F8")</h1>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>BTC in channels (can receive)</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Active Channel Balance</h5>
            </div>
            <div class="ibox-content bg-danger">
                <h1 class="no-margins">@Model.LNCapacity.ToString("F8")</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>BTC on LN</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>LN Wallet Balance</h5>
            </div>
            <div class="ibox-content bg-danger">
                <h1 class="no-margins">0</h1>
                <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                <small>BTC on-chain</small>
            </div>
        </div>
    </div>
</div>

@Html.Partial(partialViewName: "_PartialSummaryStatistics");

@section Styles {
    @Styles.Render("~/bundles/admin/index/css")
}

@section Scripts {
    <script type="text/javascript">
        var stats;
    </script>
    @Scripts.Render("~/bundles/admin/index")
}




