@model zapread.com.Models.RecentUnreadMessagesViewModel

@foreach (var m in Model.MessagesVm)
{
    <li id="m1_@m.Id">
        <div class="dropdown-messages-box">
            <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = m.FromName })" class="pull-left">
                <img alt="image" loading="lazy" class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = m.FromAppId, v=m.FromProfileImageVersion})">
            </a>
            <div class="media-body">
                <span class="pull-right">
                    <a data-keepOpenOnClick href="javascript:void(0);" onclick="dismiss(0,@m.Id)" class="btn btn-sm btn-outline" data-toggle="tooltip" data-placement="top" title="Dismiss"><icon class="fa fa-minus-circle"></icon></a>
                </span>
                From: <a href="@Url.Action("Index", controllerName: "User", routeValues: new { username = m.FromName })" class="btn btn-link">@m.FromName</a>
                @if (m.IsComment)
                {
                    <p>
                        Replied to your <a href="@Url.Action(actionName: "Detail", controllerName: "Post", routeValues: new { PostId = m.PostId })" style="padding-left: 0px;">comment</a>
                    </p>
                }
                @if (m.IsPrivateMessage)
                {
                    <p>
                        <a href="@Url.Action(actionName: "Chat", controllerName: "Messages", routeValues: new { username = m.FromName })" style="padding-left: 0px;">Go to chat</a>
                    </p>
                }
                @Html.Raw(m.Content)
            </div>
        </div>
    </li>    
    <li id="m2_@m.Id" class="divider"><hr /></li>
}
