@model zapread.com.Models.RecentUnreadAlertsViewModel

@foreach (var m in Model.Alerts)
{
    <li id="a1_@m.Id">
        <div class="dropdown-messages-box">
            @*@if (m.From != null)
                {
                    <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = m.From.Name })" class="pull-left">
                        <img alt="image" class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = m.From.AppId })">
                    </a>
                }
                else
                {
                    <a href="#" class="pull-left">
                        <img alt="image" class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = "" })">
                    </a>
                }*@
            <div class="media-body">
                <span class="pull-right">
                    <a data-keepOpenOnClick href="javascript:void(0);" onclick="dismiss(1,@m.Id)" class="btn btn-sm btn-link" data-toggle="tooltip" data-placement="top" title="Dismiss"><icon class="fa fa-minus-circle"></icon></a>
                </span>

                @Html.Raw(m.Title) <br />
                @if (m.PostLink != null)
                {
                    <span>Post:</span> <a href="@Url.Action("Detail", "Post", new { id = m.PostLink.PostId})">
                        @if (m.PostLink.PostTitle != null)
                        {
                            <text>@m.PostLink.PostTitle</text> }
                        else
                        {
                            <text>Link</text>
                        }
                    </a>
                }
                <br />
                @Html.Raw(m.Content)
            </div>
        </div>
    </li>
    <li id="a2_@m.Id" class="divider"><hr /></li>
}
