@model zapread.com.Models.RecentUnreadMessagesViewModel

@foreach (var m in Model.Messages)
{
    <li id="m1_@m.Id">
        <div class="dropdown-messages-box">
            @if (m.From != null)
            {
                <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = m.From.Name })" class="pull-left">
                    <img alt="image" class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = m.From.AppId })">
                </a>
            }
            else
            {
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = "" })">
                </a>
            }
            <div class="media-body">
                <span class="pull-right">
                    <a data-keepOpenOnClick href="javascript:void(0);" onclick="dismiss(0,@m.Id)" class="btn btn-sm btn-outline" data-toggle="tooltip" data-placement="top" title="Dismiss"><icon class="fa fa-minus-circle"></icon></a>
                </span>
                @if (m.From != null) { <text>From: <strong>@m.From.Name</strong> <br /></text>}   @Html.Raw(m.Content) <br />
                @*<small class="text-muted">@m.TimeStamp.Value.ToString("o")</small>*@
            </div>
        </div>
    </li>    
    <li id="m2_@m.Id" class="divider"><hr /></li>
}
