@model zapread.com.Models.ChatMessagesViewModel
@{
    ViewBag.Title = "Chat with " + @Model.OtherUser.Name;
}
<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Chat</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Messages/">Messages</a></li>
            <li class="breadcrumb-item active">Chat</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    Your private chats with @Model.OtherUser.Name
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">

            

            <div class="ibox chat-view">
                <div class="ibox-title">
                    <small class="float-right text-muted">
                        Last message:  @if (Model.Messages.Count() > 0)
                        {<span class="postTime" style="display: inline">@Model.Messages.Last().TimeStamp.ToString("o")</span>}
                    else
                    {<text>Never</text>}
                    </small>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="chat-discussion">
                                <div class="social-feed-box-nb">
                                    <button id="btnLoadOlder" class="btn btn-primary btn-block" onclick="loadolderchats(@Model.OtherUser.Id)"><i class="fa fa-arrow-up"></i> Show Older <i id="loadmore" class="fa fa-circle-o-notch fa-spin" style="display:none"></i></button>
                                </div>
                                <div id="startMessages"></div>
                                @foreach (var c in Model.Messages)
                                {
                                    @Html.Partial(partialViewName: "_PartialChatMessage", model: c)
                                }
                                <div id="endMessages"></div>
                            </div>
                            <div class="chat-discussion" style="height:200px;">
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position: fixed; bottom:15px; width: 100%">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="ibox chat-view">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="chatReply ibox-content">
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="chat-message-form">
                                        <div class="m_input wrapper p-md" id="message_input"></div>
                                    </div>
                                    <div class="chat-message-form">
                                        <button id="btnMessageSend" type="button" class="btn btn-primary" onclick="sendMessage(@Model.OtherUser.Id);">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section Scripts {
    @Scripts.Render("~/bundles/messages/chat")
    <script type="text/javascript">
    var ChattingWithId = "@Model.OtherUser.AppId";

    var startBlock = 10;
    </script>
}
