@model zapread.com.Models.ChatMessagesViewModel

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Chat</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Messages/">Messages</a></li>
            <li class="breadcrumb-item active">Chat</li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    Your private chats with @Model.OtherUser.Name
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="ibox chat-view">
                <div class="ibox-title">
                    <small class="float-right text-muted">Last message:  <span class="postTime" style="display: inline">@Model.Messages.Last().Message.TimeStamp.Value.ToString("o")</span></small>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="chat-discussion">
                                @foreach (var c in Model.Messages)
                                {
                                <div class="chat-message @if(c.IsReceived){<text>left</text>}else{<text>right</text>}">
                                    <a href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = c.Message.From.Name })">
                                        <img class="message-avatar" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = c.Message.From.AppId })" alt="@c.Message.From.Name">
                                    </a>
                                    <div class="message">
                                        <a class="message-author" href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = c.Message.From.Name })"> @c.From.Name </a>
                                        <span class="postTime message-date">@c.Message.TimeStamp.Value.ToString("o")</span>
                                        @*<small class="postTime text-muted" style="display: inline">@Model.Post.TimeStamp.Value.ToString("o")</small>*@
                                        <span class="message-content">
                                            @Html.Raw(c.Message.Content)
                                        </span>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">
                                <div class="m_input wrapper p-md" id="message_input"></div>
                            </div>
                            <div class="chat-message-form">
                                <button id="btnMessageSend" type="button" class="btn btn-primary" onclick="sendMessage(@Model.OtherUser.Id);">Send</button>
                                @*<button id="btnMessageSave" type="button" class="btn btn-secondary" disabled>Save Draft</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>*@
                            </div>
                            @*<div class="chat-message-form">
                                <div id="reply" class="form-group">
                                    <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@Scripts.Render("~/plugins/moment")
<script type="text/javascript">
    $(document).ready(function () {
        $(".m_input").summernote({
            callbacks: {
                onImageUpload: function (files) {
                    that = $(this);
                    sendFile(files[0], that);
                }
            },
            focus: false,
            placeholder: 'Write message...',
            disableDragAndDrop: false,
            dialogsInBody: true,
            toolbar: ['bold', 'italic', 'underline', 'strikethrough', 'fontsize', 'color', 'link'],
            minHeight: 100,
            maxHeight: 600,
            hint: {
                match: /\B@@(\w*)$/,
                search: function (keyword, callback) {
                    callback($.grep(usermentions, function (item) {
                        return item.indexOf(keyword) == 0;
                    }));
                },
                content: function (item) {
                    return $("<span class='badge badge-info userhint'>").html('@@' + item)[0];
                }
            }
        });
    });

    var sendMessage = function (id) {
        var dataString;
        //event.preventDefault();
        //event.stopImmediatePropagation();
        var action = "/Messages/SendMessage";
        var contentType = "application/json; charset=utf-8";
        var dataval = '';
        var dataString = '';
        var messageElement = '#message_input';
        dataval = $(messageElement).summernote('code');
        dataString = JSON.stringify({ id: id, content: dataval });
        console.log(dataString);
        $.ajax({
            type: "POST",
            url: action,
            data: dataString,
            dataType: "json",
            contentType: contentType,
            success: function (result) {
                if (result.Result === "Success") {
                    $('#messageComposeModal').modal('hide');
                }
                else {
                    alert('Error sending message');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("fail");
            }
        });

    }
</script>
}