@using zapread.com.Helpers;
@model zapread.com.Models.UserViews.UserHoverViewModel
<div class="row">
    <div class="col">
        <img class="img-circle" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = Model.AppId, v=Model.ProfileImageVersion })" />
        <span style="display:inline"><strong>@Model.Name</strong>
            @if (Model.IsOnline)
            {
                <span style="display:inline;color:green" data-toggle='tooltip' data-placement='bottom' title='Online'> <i class="fa fa-check-circle"></i></span>
            }
            else
            {
                <span style="display:inline;color:lightgray" data-toggle='tooltip' data-placement='bottom' title='Offline'> <i class="fa fa-minus-circle"></i></span>
            }
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class='btn btn-link btn-sm' data-toggle='tooltip' data-placement='bottom' title='Reputation'>
            @Model.Reputation.ToAbbrString() <i class='fa fa-star'></i>
        </span>&nbsp;

        @if (Request.IsAuthenticated) // Only add if user is logged in!
        {
            <a href='@Url.Action(actionName:"Chat", controllerName: "Messages", routeValues: new { username = Model.Name })' class='btn btn-sm btn-link' data-toggle='tooltip' data-placement='bottom' title='Private chat'>
                <i class='fa fa-envelope'></i>
            </a>
            if (Model.IsFollowing)
            {
                <a href='javascript:void(0);' class='btn btn-sm btn-link hover-follow' title='Un-follow' onclick='follow(@Model.UserId,0, this);'>
                    <i class='fa fa-user'></i><i class='fa fa-check'></i>
                </a>
            }
            else
            {
                <a href='javascript:void(0);' class='btn btn-sm btn-link hover-follow' title='Follow' onclick='follow(@Model.UserId,1, this);'>
                    <i class='fa fa-user-plus'></i>
                </a>
            }
        }
    </div>
</div>