@model zapread.com.Models.UserViewModel

@{
    ViewBag.Title = Model.UserName;
    ViewBag.ViewInfo = "User:" + Model.UserId;
    var UserName = Request.IsAuthenticated ? User.Identity.Name : "";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/user/index/css")
}

@section Scripts {
    <script type="text/javascript">
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
        var userId = @Model.UserId;
        var userAppId = "@Model.UserAppId";
        var userName = "@Model.UserName";
        window.UserName = "@UserName";
    </script>
    @Scripts.Render("~/bundles/user/index")
}